.create-timetable-view {
  color: black;
  justify-items: center;
}

.timetable-form {
  display: block;
  padding: 35px 240px;
  height: 500px;
  margin: 40px;
  border: 1px solid;
}

.name-input {
  padding: 6px;
  margin-bottom: 6px;
  width: 220px;
  font-size: 15px;
}

.description-input {
  padding: 6px;
  width: 220px;
  resize: none;
}

.type-input {
  margin: 12px 110px 0 110px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  accent-color: #7184a3;
  white-space: nowrap;
}

.restriction-input {
  user-select: none;
  margin: 12px 110px 9px 110px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  accent-color: #7184a3;
  white-space: nowrap;
}

.limit-duration {
  margin: 5px 0 2px 0;
  accent-color: #7184a3;
  width: 180px;
}

.limit-frequency {
  margin: 5px 0 2px 0;
  accent-color: #7184a3;
  width: 180px;
}

.submit-button {
  background-color: #e64d1f;
  border: 2px solid #919191;
  color: rgb(248, 248, 248);
  padding: 6px 12px 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin: 25px;
  border-radius: 115px;
}
.submit-button:hover {
  background-color: #eb6b44;
  border: 2px solid #dddddd;
}

.error-message {
  margin: 10px;
  color: #e74b4b;
}
