.default-view {
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.big-button {
  background-color: #e64d1f;
  border: 2px solid #919191;
  color: rgb(248, 248, 248);
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin: 20px;
  border-radius: 115px;
}
.big-button:hover {
  background-color: #eb6b44;
  border: 2px solid #dddddd;
}
