.header {
  background-color: #e64d1f;
  border-radius: 33px;
  margin-top: 0px;
  margin: auto;
  height: 90px;
  width: 390px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 550;
  color: #f8f8fa;
  margin-top: 4px;
  margin-bottom: 8px;
}
.header:hover {
  cursor: default;
}

.header-text {
  align-self: flex-end;
  color: #f8f8fa;
}
