.loading-login-frame {
  height: 20em;
  width: 50em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 5s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
