.mini-header {
  background-color: #e64d1f;
  border-radius: 10px;
  margin-top: 0px;
  margin: auto;
  height: 32px;
  width: 138px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 560;
  color: #f8f8fa;
  padding: 1px;
  margin-top: 11px;
  margin-bottom: 2px;
  margin-left: 4px;
}
.mini-header:hover {
  cursor: pointer;
  background-color: #eb6b44;
  color: #ffffff;
}

.mini-header-text {
  white-space: nowrap;
  align-self: flex-end;
  color: #f8f8fa;
}