.navi-bar {
  display: grid;
  width: 100vw;
  background-color: rgb(63, 63, 63);
  justify-content: center;
}

.navi-panel {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navi-button {
  display: block;
  color: #f8f8fa;
  padding: 14px 16px;
  margin: 0 10px;
  white-space: nowrap;

}
.navi-button:hover {
  background-color: rgb(100, 100, 100);
  color: #ffffff;
  cursor: pointer;
}

.navi-panel-user {
  display: flex;
  color: #f8f8fa;
  flex-direction: column;
  margin-left: 90px;
}

.user-text {
  color: #f8f8fa;
}

.logout-button {
  color: #f8f8fa;
  font-size: 15px;
  text-decoration: none;
}
.logout-button:hover {
  color: #ffffff;
  cursor: pointer;
}